* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --pry-color: #4E5150;
}

html {
  font-family: 'Montserrat', sans-serif;
  font-size: 62.5%;
  font-weight: 600;
  line-height: 1.6;
}

body {
  background: #fff;
}

